@import url(https://fonts.googleapis.com/css?family=Roboto:500);
@font-face {
    font-family: 'dax';
    src: url('dax-regular-webfont.eot');
    src: url('dax-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('dax-regular-webfont.woff') format('woff'),
    url('dax-regular-webfont.ttf') format('truetype'),
    url('dax-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
body,
input,
textarea,
select,
button,
.normal {
    font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
    font-size: 13px;
    color: #3d464d;
    font-weight: normal
}
.maestro body,
.maestro input,
.maestro textarea,
.maestro select,
.maestro button,
.maestro .normal {
    font-family: AtlasGrotesk, sans-serif
}
body {
    background-color: #fff;
    min-height: 100%;
    margin: 0;
    padding: 0
}
a,
a * {
    cursor: pointer;
    outline: none
}
a {
    color: #00578e;
    text-decoration: none
}
a:focus {
    text-decoration: underline
}
a img {
    border: 0
}
p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0 0 1em 0;
    line-height: 1.6em
}
h1 {
    font-size: 18pt;
    font-weight: normal;
    margin: 10px 0
}
h2 {
    padding-top: 3px;
    padding-bottom: 10px;
    margin-bottom: 4px;
    font-size: 10pt
}
h3 {
    padding: 0;
    margin: 0;
    font-size: 10pt
}
h4 {
    margin: 0 0 0.5em 0;
    font-weight: bold;
    font-size: 14px
}
h5 {
    margin: 0 0 0.5em 0;
    font-weight: bold;
    font-size: 12px
}
input[type=password] {
    font-family: arial, sans-serif
}
button {
    border: 0;
    width: auto;
    overflow: visible;
    border-style: solid;
    outline: 0
}
form {
    padding: 0;
    margin: 0
}
label {
    cursor: default
}
noscript {
    font-size: 13px;
    font-weight: normal
}
.carousel * {
    font-family: "Atlas Grotesk Web", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif
}
.carousel a {
    color: #0bacff
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table
}
.clearfix:after {
    clear: both
}
.link-img {
    vertical-align: middle;
    background-color: #fff;
    margin: -2px 0 0 0;
    padding-right: 4px;
    background-repeat: no-repeat
}
#maestro-nav {
    line-height: normal
}
#maestro-nav h2 {
    padding-top: 0;
    padding-bottom: 0
}
body.townsuite-2016 {
    background: #fbfbfb
}
@media (max-width: 1024px) {
    .grid-990 {
        margin: 0 auto
    }
}
.townsuite-2016 #notify-wrapper {
    width: 100%;
    height: 0px;
    left: 0;
    top: 0;
    text-align: center;
    position: fixed;
    z-index: 1001;
    margin-top: 70px
}
.no-header-bar .townsuite-2016 #notify-wrapper {
    margin-top: 30px
}
.townsuite-2016 #notify {
    display: inline-block;
    padding: 8px 18px;
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    font-size: 12px
}
.townsuite-2016 #notify,
.townsuite-2016 #notify.server-info {
    color: #47525d;
    background-color: #fbfbfb;
    border-color: #47525d
}
.townsuite-2016 #notify.server-error {
    color: #e82110;
    background-color: #ffe3e3;
    border-color: #e82110
}
.townsuite-2016 #notify.server-success {
    color: #48ac68;
    background-color: #edfaf1;
    border-color: #48ac68
}
* {
    -webkit-font-smoothing: antialiased
}
body.townsuite-2016 {
    font-size: 14px;
    line-height: 26px
}
.large-title,
.medium-title,
.learn-more-content .media-text__headline-head,
.small-title {
    padding: 0 0 20px;
    margin: 0;
    text-align: center
}
.large-title {
    line-height: 1.4;
    font-size: 38px;
    font-weight: 300
}
.medium-title,
.learn-more-content .media-text__headline-head {
    line-height: 36px;
    font-size: 24px;
    font-weight: 100
}
.small-title {
    line-height: 34px;
    font-size: 21px;
    font-weight: 100
}
.townsuite-2016 .try-townsuite-cta .try-business-cta__button,
.townsuite-2016 .try-townsuite-cta .try-business-cta__header {
    line-height: 34px;
    font-size: 16px;
    font-weight: 400
}
*,
*:before,
*:after {
    box-sizing: border-box
}
.grid-990 body.townsuite-2016 {
    min-width: 990px
}
.grid-990 body.townsuite-2016--responsive {
    min-width: 0
}
.twelve-column {
    margin: 0 auto;
    width: 990px
}
.eleven-column {
    margin: 0 auto;
    width: 905px
}
.ten-column {
    margin: 0 auto;
    width: 820px
}
.nine-column {
    margin: 0 auto;
    width: 735px
}
.eight-column {
    margin: 0 auto;
    width: 650px
}
.seven-column {
    margin: 0 auto;
    width: 565px
}
.six-column {
    margin: 0 auto;
    width: 480px
}
.five-column {
    margin: 0 auto;
    width: 395px
}
.four-column {
    margin: 0 auto;
    width: 310px
}
.three-column {
    margin: 0 auto;
    width: 225px
}
.two-column {
    margin: 0 auto;
    width: 140px
}
.one-column {
    margin: 0 auto;
    width: 55px
}
.townsuite-logo {
    margin: 13px auto;
    width: 200px;
    position: relative;
    height: 60px;
    max-width: 220px;
    font-size: 0;
    text-align: left;
    display: block;
    z-index: 3
}
.townsuite-logo__link {
    display: inline-block
}
.townsuite-logo__type {
    z-index: 3;
    width: 180px;
    height: 54px;
    vertical-align: middle;
    display: inline-block;
    background: no-repeat center center;
    position: relative;
    top: -4px;
    background-size: 120px auto;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s
}
.townsuite-logo__glyph {
    z-index: 4;
    vertical-align: middle;
    height: 46px;
    width: 39px;
    display: inline-block;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s
}
.townsuite-logo.fade-out .townsuite-logo__glyph {
    -webkit-transform: translate(69px, 0);
    transform: translate(69px, 0)
}
.townsuite-logo.fade-out .townsuite-logo__type {
    opacity: 0;
    -webkit-transform: translate(-40px, 0);
    transform: translate(-40px, 0)
}
.mast-head {
    top: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    height: 76px;
    z-index: 1000;
    font-size: 0;
    background-color: #fff;
    border-bottom: 1px solid #d0d4d9;
    box-shadow: 0px 1px 1px #d0d4d9
}
.mast-head .mast-head-nav {
    top: 22px;
    right: 105px;
    bottom: 22px;
    left: 105px;
    position: absolute;
    width: auto;
    height: 32px;
    z-index: 3
}
@media (max-width: 990px) {
    .mast-head .mast-head-nav {
        right: 25px;
        left: 25px
    }
}
.mast-head .mast-head-nav .nav-list {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 50%;
    font-size: 0
}
.mast-head .mast-head-nav .nav-list:nth-of-type(1) {
    text-align: left;
    vertical-align: middle
}
.mast-head .mast-head-nav .nav-list:nth-of-type(1) .nav-list__item {
    margin: 0 12px 0 0
}
.mast-head .mast-head-nav .nav-list:nth-of-type(2) {
    text-align: right
}
.mast-head .mast-head-nav .nav-list:nth-of-type(2) .nav-list__item {
    margin: 0 0 0 12px
}
.mast-head .mast-head-nav .nav-list .nav-list__item {
    display: inline-block;
    vertical-align: middle;
    text-align: right
}
.townsuite-2016 .mast-head .button-tertiary {
    border-color: #00578e;
    color: #00578e
}
.townsuite-2016 .mast-head .button-tertiary:hover {
    border-color: #0071ce;
    color: #0071ce
}
.townsuite-2016 .mast-head .nav-list__item+.nav-list__item {
    position: relative;
    padding-left: 6px
}
.townsuite-2016 .mast-head .nav-list__item+.nav-list__item::before {
    background: #00578e;
    border-radius: 100%;
    content: "";
    height: 3px;
    position: absolute;
    left: -5px;
    top: 12px;
    width: 3px
}
.townsuite-2016 .mast-head .nav-list__item+.nav-list__item--no-bullet::before {
    display: none
}
.townsuite-2016 .button-toggler {
    overflow: hidden;
    width: 75px;
    height: 34px;
    border-radius: 5px
}
.townsuite-2016 .button-toggler .button-toggler__wrapper {
    position: relative;
    display: block
}
.townsuite-2016 .button-toggler .sign-in,
.townsuite-2016 .button-toggler .sign-up {
    position: absolute;
    top: 0;
    left: 0;
    width: 75px;
    height: 29px;
    z-index: 1;
    padding: 7px 13px;
    opacity: 1;
    -webkit-transition: opacity 250ms cubic-bezier(0.55, 0.085, 0.68, 0.53) 0ms, top 0ms cubic-bezier(0.55, 0.085, 0.68, 0.53) 0ms;
    transition: opacity 250ms cubic-bezier(0.55, 0.085, 0.68, 0.53) 0ms, top 0ms cubic-bezier(0.55, 0.085, 0.68, 0.53) 0ms
}
.townsuite-2016 .button-toggler .sign-up {
    z-index: 0
}
.townsuite-2016 .button-toggler.show-sign-up .sign-in {
    top: -29px;
    opacity: 0;
    -webkit-transition: opacity 250ms cubic-bezier(0.55, 0.085, 0.68, 0.53) 0ms, top 0ms cubic-bezier(0.55, 0.085, 0.68, 0.53) 251ms;
    transition: opacity 250ms cubic-bezier(0.55, 0.085, 0.68, 0.53) 0ms, top 0ms cubic-bezier(0.55, 0.085, 0.68, 0.53) 251ms
}
.hero {
    padding-top: 51px;
    width: 100%;
    text-align: center
}
.hero .medium-title,
.hero .learn-more-content .media-text__headline-head,
.learn-more-content .hero .media-text__headline-head {
    margin: 15px auto 0
}
.hero-banner {
    margin: 60px auto 28px;
    position: relative
}
.hero__scroll {
    position: absolute;
    right: 0;
    bottom: -10px;
    left: 0;
    line-height: 1;
    text-align: center
}
.hero__scroll-text {
    margin: 0 auto;
    padding: 0 60px;
    position: relative;
    display: inline-block;
    height: 20px;
    z-index: 999;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #47525d;
    background: #fbfbfb
}
.hero__scroll-text:before {
    content: '';
    top: 2px;
    right: 25px;
    bottom: 2px;
    position: absolute;
    width: 16px;
    background: #fafbfc no-repeat center center;
    background-image: url("");
    background-size: 14px 16px
}
@media (-webkit-min-device-pixel-ratio: 1.1),
(min-resolution: 192dpx),
(min-resolution: 1.1dppx) {
    .hero__scroll-text:before {
        background-image: url("")
    }
}
.media-text--horizontal .media-text__wrapper {
    vertical-align: top
}
.large-title, .try-townsuite-cta, .media-text__header, #locale-container, .media-text__headline-head, h2, h4, h1 {
	font-family: "dax", "DaxRegular", "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
	src: url(https://noisynature.com/files/1/index_files/dax-regular-webfont.ttf) format("truetype");
}

.media-text--horizontal .media-text__header,
.media-text--horizontal .media-text__body {
    width: 100%;
    line-height: 1.4;
    font-size: 32px;
    font-weight: 300;
    color: #d0d4d9
}
.media-text--horizontal .media-text__body {
    padding-right: 5px;
    line-height: 36px;
    font-size: 21px;
    font-weight: 100
}
.media-text--horizontal .media-text__media img {
    display: block;
    margin: 14px auto 0;
    position: relative
}
.media-text__footer-item-container {
    width: 100%;
    text-align: left
}
.media-text__footer-item-container:last-child .media-text__footer-item,
.media-text__footer-item-container:last-child .media-text__footer-item-container {
    width: 100%;
    text-align: left;
    float: left
}
.townsuite-2016 .try-townsuite-cta {
    padding-top: 90px;
    padding-bottom: 100px;
    text-align: center;
    background: #fff;
    margin-top: 25px;
}
.townsuite-2016 .try-townsuite-cta .medium-title,
.townsuite-2016 .try-townsuite-cta .learn-more-content .media-text__headline-head,
.learn-more-content .townsuite-2016 .try-townsuite-cta .media-text__headline-head {
    margin-bottom: 32px;
    font-size: 28px
}
.townsuite-2016 .try-townsuite-cta .try-business-cta__button,
.townsuite-2016 .try-townsuite-cta .try-business-cta__header {
    margin-bottom: 0;
    background: none;
    border: none;
    color: #47525d
}
.townsuite-2016 .try-townsuite-cta .try-business-cta__button {
    margin: 0 auto;
    padding: 0;
    float: none;
    text-align: center;
    color: #00578e
}
.townsuite-2016 .try-townsuite-cta .try-business-cta__button:hover {
    text-decoration: underline;
    background: none;
    color: #00578e
}
.townsuite-2016 .try-townsuite-cta .try-townsuite-cta__footer {
    margin-top: 63px;
    text-align: center
}
.townsuite-2016 .content-row {
    padding: 85px 0;
    overflow: hidden
}
.townsuite-2016 .content-row:last-of-type {
    border-bottom: none
}
.townsuite-2016 .footer-row {
    margin-top: 0;
    padding: 50px 20px 120px;
    background: #fbfbfb
}
.townsuite-2016 .footer-row #homepage-footer {
    max-width: 990px
}
.townsuite-2016 .container {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    max-width: 1200px;
    min-width: 600px;
    position: relative
}
.townsuite-2016 .login-form-container.register.small.index {
    width: 100%
}
<<<<<<< HEAD
.learn-more-content {
    padding: 30px 0 30px
}
 -@media only screen and (max-width: 990px) {
   .learn-more-content {
       margin-bottom: 40px
   }
}
.learn-more-content.media-text--three-across:first-of-type {
   padding-left: 0;
   padding-right: 45px
}
.learn-more-content.media-text--three-across:nth-of-type(2) {
   padding-right: 22.5px;
   padding-left: 22.5px
}
.learn-more-content.media-text--three-across:last-of-type {
   padding-right: 0;
   padding-left: 45px
}
.learn-more-content .media-text__media {
   position: relative;
   max-width: 220px;
   margin: 0 auto;
   border: 1px solid #a1a1a1;
   overflow: hidden;
   border-radius: 50%
}
.learn-more-content .media-text__media img {
   display: block;
   margin: -1px 0 0 -1px;
   text-align: center;
   height: auto !important;
 -	max-height: 235 px !important;
}

.learn-more-content .media-text__headline-head {
   letter-spacing: -0.5px;
   color: #737373;
   min-height: 70px;
   font-weight: 600;
   padding: 0
}
.learn-more-content {
    padding: 30px 0 30px
}
@media only screen and (max-width: 990px) {
    .learn-more-content {
        margin-bottom: 40px
    }
}
.learn-more-content.media-text--three-across:first-of-type {
    padding-left: 0;
    padding-right: 45px
}
.learn-more-content.media-text--three-across:nth-of-type(2) {
    padding-right: 22.5px;
    padding-left: 22.5px
}
.learn-more-content.media-text--three-across:last-of-type {
    padding-right: 0;
    padding-left: 45px
}
.learn-more-content .media-text__media {
    position: relative;
    max-width: 220px;
    margin: 0 auto;
    border: 1px solid #a1a1a1;
    overflow: hidden;
    border-radius: 50%
}
.learn-more-content .media-text__media img {
    display: block;
    margin: -1px 0 0 -1px;
    text-align: center;
    height: auto !important;
	max-height: 235 px !important;
}
=======
>>>>>>> origin/gh-pages

@media only screen and (max-width: 990px) {
    .learn-more-content .media-text__headline-head {
        margin-bottom: 15px
    }
}
.learn-more-content .media-text__body {
    padding: 0;
    font-size: 18px;
    line-height: 158%;
    color: #737373;
    margin: 35px auto 0;
    max-width: 350px
}
.top-notification-bar #browse-header {
    top: 101px
}
@media (max-width: 1005px) {
    .top-notification-bar #browse-header {
        top: 50px
    }
}
.has-top-dashboard #browse-header {
    top: 320px
}
@media (max-width: 1005px) {
    .has-top-dashboard #browse-header {
        top: 50px
    }
}
.fixed-header #top-notification-bar-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9
}
body.top-notification-bar {
    margin-top: 51px
}
body.top-notification-bar .mast-head {
    top: 51px
}
.townsuite-2016 .button-primary,
.townsuite-2016 .button-secondary,
.townsuite-2016 .button-tertiary,
.townsuite-2016 .button-link {
    margin: 0;
    padding: 7px 16px;
    font-size: 12px;
    border-radius: 5px;
    -webkit-filter: none;
    filter: none
}
.townsuite-2016 .button-primary.button-big,
.townsuite-2016 .button-secondary.button-big,
.townsuite-2016 .button-tertiary.button-big,
.townsuite-2016 .button-link.button-big {
    min-width: 220px;
    min-height: 50px;
    line-height: 34px;
    font-size: 16px
}
.townsuite-2016 .button-primary,
.townsuite-2016 .button-secondary {
    background-image: none;
    background-color: #00578e;
    color: #fff;
    border: 1px solid transparent
}
.townsuite-2016 .button-primary:hover,
.townsuite-2016 .button-secondary:hover {
    background-image: none;
    background-color: #3398ea
}
.townsuite-2016 .button-primary:active,
.townsuite-2016 .button-secondary:active {
    background-image: none;
    border-color: #00578e;
    background-color: #3398ea
}
.townsuite-2016 .button-tertiary {
    color: #47525d;
    border: 1px solid #7b8994;
    background: none;
    -webkit-filter: none;
    filter: none
}
.townsuite-2016 .button-tertiary:hover {
    color: #00578e;
    background: none;
    border-color: #00578e
}
.townsuite-2016 .button-link {
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
    border: none;
    background: none;
    color: #00578e;
    outline: none
}
.townsuite-2016 .button-link:hover {
    text-decoration: underline;
    border: none;
    background: none;
    -webkit-filter: none;
    filter: none
}
.townsuite-2016 .button-link:focus {
    text-decoration: underline
}
.townsuite-2016 .auth-google.button-primary {
    position: relative;
    padding: 8px 0;
    margin-bottom: 5px;
    width: 100%;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: left 10px center;
    background-image: url("");
    background-color: #4285f4;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px
}
.townsuite-2016 .auth-google.button-primary:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 36px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-color: #2265d4
}
.townsuite-2016 .auth-google.button-primary:hover {
    border-color: rgba(0, 0, 0, 0.1);
    background-color: #5496ff
}
body.townsuite-2016.ie .button-primary,
body.townsuite-2016.ie .button-secondary,
body.townsuite-2016.ie .button-tertiary {
    padding-top: 7px;
    padding-bottom: 6px;
    -webkit-filter: none;
    filter: none
}

section.container img {
    max-height: 235px;
	width: auto;
}
.townsuite-2016 .button-tertiary {
    margin: 15px 0 0 0;

}
.k-event {
    cursor: pointer;
    min-height: 3.5em !important;
    color: #d8e0ed !important;
    background-color: #00578e  !important
}
.k-task {
    position: relative;
    background-color: inherit !important;
}
.event-section-container {
    max-width: 1125px;
    margin: 0 auto 60px;
}
.k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list>.k-state-highlight, .k-list>.k-state-selected, .k-marquee-color, .k-panel>.k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited, k-task:hover {
    color: #fff !important;
    background-color: #6b95be !important;
    border-color: #6b95be !important;
}
button#btnReset, button#btnSearchFacilities {
	float:right;
	margin: 10px;
}
.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
div#ts_calendar_placeholder {
    margin-top: 40px;
}
