.grid {
    list - style: none;
    margin - left: -20 px
}.grid__col--2 - of - 2, .grid__col--3 - of - 3, .grid__col--4 - of - 4, .grid__col--6 - of - 6, .grid__col--12 - of - 12 {
    width: 100 %
}.grid__col--1 - of - 2, .grid__col--2 - of - 4, .grid__col--3 - of - 6, .grid__col--6 - of - 12 {
    width: 50 %
}.grid__col--1 - of - 3, .grid__col--2 - of - 6, .grid__col--4 - of - 12 {
    width: 33.33333 %
}.grid__col--2 - of - 3, .grid__col--4 - of - 6, .grid__col--8 - of - 12 {
    width: 66.66667 %
}.grid__col--1 - of - 4, .grid__col--3 - of - 12 {
    width: 25 %
}.grid__col--3 - of - 4, .grid__col--9 - of - 12 {
    width: 75 %
}.grid__col--push - 2 - of - 2, .grid__col--push - 3 - of - 3, .grid__col--push - 4 - of - 4, .grid__col--push - 6 - of - 6, .grid__col--push - 12 - of - 12 {
    margin - left: 100 %
}.grid__col--push - 1 - of - 2, .grid__col--push - 2 - of - 4, .grid__col--push - 3 - of - 6, .grid__col--push - 6 - of - 12 {
    margin - left: 50 %
}.grid__col--push - 1 - of - 3, .grid__col--push - 2 - of - 6, .grid__col--push - 4 - of - 12 {
    margin - left: 33.33333 %
}.grid__col--push - 2 - of - 3, .grid__col--push - 4 - of - 6, .grid__col--push - 8 - of - 12 {
    margin - left: 66.66667 %
}.grid__col--push - 1 - of - 4, .grid__col--push - 3 - of - 12 {
    margin - left: 25 %
}.grid__col--push - 3 - of - 4, .grid__col--push - 9 - of - 12 {
    margin - left: 75 %
}.grid__col--pull - 2 - of - 2, .grid__col--pull - 3 - of - 3, .grid__col--pull - 4 - of - 4, .grid__col--pull - 6 - of - 6, .grid__col--pull - 12 - of - 12 {
    margin - left: -100 %
}.grid__col--pull - 1 - of - 2, .grid__col--pull - 2 - of - 4, .grid__col--pull - 3 - of - 6, .grid__col--pull - 6 - of - 12 {
    margin - left: -50 %
}.grid__col--pull - 1 - of - 3, .grid__col--pull - 2 - of - 6, .grid__col--pull - 4 - of - 12 {
    margin - left: -33.33333 %
}.grid__col--pull - 2 - of - 3, .grid__col--pull - 4 - of - 6, .grid__col--pull - 8 - of - 12 {
    margin - left: -66.66667 %
}.grid__col--pull - 1 - of - 4, .grid__col--pull - 3 - of - 12 {
    margin - left: -25 %
}.grid__col--pull - 3 - of - 4, .grid__col--pull - 9 - of - 12 {
    margin - left: -75 %
}.grid__col--1 - of - 6 {
    width: 16.66667 %
}.grid__col--push - 1 - of - 6 {
    margin - left: 16.66667 %
}.grid__col--pull - 1 - of - 6 {
    margin - left: -16.66667 %
}.grid__col--5 - of - 6 {
    width: 83.33333 %
}.grid__col--push - 5 - of - 6 {
    margin - left: 83.33333 %
}.grid__col--pull - 5 - of - 6 {
    margin - left: -83.33333 %
}.grid__col--1 - of - 12 {
    width: 8.33333 %
}.grid__col--push - 1 - of - 12 {
    margin - left: 8.33333 %
}.grid__col--pull - 1 - of - 12 {
    margin - left: -8.33333 %
}.grid__col--2 - of - 12 {
    width: 16.66667 %
}.grid__col--push - 2 - of - 12 {
    margin - left: 16.66667 %
}.grid__col--pull - 2 - of - 12 {
    margin - left: -16.66667 %
}.grid__col--5 - of - 12 {
    width: 41.66667 %
}.grid__col--push - 5 - of - 12 {
    margin - left: 41.66667 %
}.grid__col--pull - 5 - of - 12 {
    margin - left: -41.66667 %
}.grid__col--7 - of - 12 {
    width: 58.33333 %
}.grid__col--push - 7 - of - 12 {
    margin - left: 58.33333 %
}.grid__col--pull - 7 - of - 12 {
    margin - left: -58.33333 %
}.grid__col--10 - of - 12 {
    width: 83.33333 %
}.grid__col--push - 10 - of - 12 {
    margin - left: 83.33333 %
}.grid__col--pull - 10 - of - 12 {
    margin - left: -83.33333 %
}.grid__col--11 - of - 12 {
    width: 91.66667 %
}.grid__col--push - 11 - of - 12 {
    margin - left: 91.66667 %
}.grid__col--pull - 11 - of - 12 {
    margin - left: -91.66667 %
}.grid__col {
    box - sizing: border - box;
    display: inline - block;
    margin - right: -.25e m;
    min - height: 1 px;
    padding - left: 20 px;
    vertical - align: top
}.grid--nowhitespace.grid__col {
    margin - right: 0
}@
media(max - width: 750 px) {.grid__col {
        display: block;margin - left: 0;margin - right: 0;width: auto
    }
}@
media(max - width: 750 px) and(min - width: 550 px) {.grid__col[class *= "grid__col--m-"] {
        display: inline - block;margin - right: -.24e m
    }.grid__col.grid__col--m - 1 - of - 2, .grid__col.grid__col--m - 2 - of - 4 {
        width: 50 %
    }.grid__col.grid__col--m - 1 - of - 3 {
        width: 33.33333 %
    }.grid__col.grid__col--m - 2 - of - 3 {
        width: 66.66667 %
    }.grid__col.grid__col--m - 1 - of - 4 {
        width: 25 %
    }.grid__col.grid__col--m - 3 - of - 4 {
        width: 75 %
    }
}@
media(max - width: 550 px) {.grid__col[class *= "grid__col--s-"] {
        display: inline - block;margin - right: -.24e m
    }.grid__col.grid__col--s - 1 - of - 2, .grid__col.grid__col--s - 2 - of - 4 {
        width: 50 %
    }.grid__col.grid__col--s - 1 - of - 3 {
        width: 33.33333 %
    }.grid__col.grid__col--s - 2 - of - 3 {
        width: 66.66667 %
    }.grid__col.grid__col--s - 1 - of - 4 {
        width: 25 %
    }.grid__col.grid__col--s - 3 - of - 4 {
        width: 75 %
    }
}.grid__col--centered {
    display: block;margin - left: auto;margin - right: auto
}.grid__col--d - first {
    float: left
}.grid__col--d - last {
    float: right
}.grid--no - gutter {
    margin - left: 0;
    width: 100 %
}.grid--no - gutter > * {
    padding - left: 0
}.grid--no - gutter.grid__col--span - all {
    margin - left: 0;
    width: 100 %
}.grid__col--ab, .grid__col--align - bottom {
    vertical - align: bottom
}.grid__col--am, .grid__col--align - middle {
    vertical - align: middle
}@ - webkit - keyframes anywhereBlockBG {
    0 % , 15 % , 100 % {
        background - position: center 0;
        opacity: 1
    }
    20 % {
        background - position: center 0;
        opacity: 0
    }
    21 % {
        background - position: center - 493 px;
        opacity: 0
    }
    25 % , 40 % {
        opacity: 1
    }
    45 % {
        background - position: center - 493 px;
        opacity: 0
    }
    46 % {
        background - position: center - 986 px;
        opacity: 0
    }
    50 % , 65 % {
        opacity: 1
    }
    70 % {
        background - position: center - 986 px;
        opacity: 0
    }
    71 % {
        background - position: center - 1479 px;
        opacity: 0
    }
    75 % , 90 % {
        opacity: 1
    }
    95 % {
        background - position: center - 1479 px;
        opacity: 0
    }
    96 % {
        background - position: center 0;
        opacity: 0
    }
}@
keyframes anywhereBlockBG {
    0 % , 15 % , 100 % {
        background - position: center 0;
        opacity: 1
    }
    20 % {
        background - position: center 0;
        opacity: 0
    }
    21 % {
        background - position: center - 493 px;
        opacity: 0
    }
    25 % , 40 % {
        opacity: 1
    }
    45 % {
        background - position: center - 493 px;
        opacity: 0
    }
    46 % {
        background - position: center - 986 px;
        opacity: 0
    }
    50 % , 65 % {
        opacity: 1
    }
    70 % {
        background - position: center - 986 px;
        opacity: 0
    }
    71 % {
        background - position: center - 1479 px;
        opacity: 0
    }
    75 % , 90 % {
        opacity: 1
    }
    95 % {
        background - position: center - 1479 px;
        opacity: 0
    }
    96 % {
        background - position: center 0;
        opacity: 0
    }
}@ - webkit - keyframes anywhereBlockProps {
    0 % , 15 % , 100 % {
        background - position: center - 1238 px;
        opacity: 1
    }
    20 % {
        background - position: center - 1238 px;
        opacity: 0
    }
    21 % {
        background - position: center - 40 px;
        opacity: 0
    }
    25 % , 40 % {
        opacity: 1
    }
    45 % {
        background - position: center - 40 px;
        opacity: 0
    }
    46 % {
        background - position: center - 680 px;
        opacity: 0
    }
    50 % , 65 % {
        opacity: 1
    }
    70 % {
        background - position: center - 680 px;
        opacity: 0
    }
    71 % {
        background - position: center - 1822 px;
        opacity: 0
    }
    75 % , 90 % {
        opacity: 1
    }
    95 % {
        background - position: center - 1822 px;
        opacity: 0
    }
    96 % {
        background - position: center - 1238 px;
        opacity: 0
    }
}@
keyframes anywhereBlockProps {
    0 % , 15 % , 100 % {
        background - position: center - 1238 px;
        opacity: 1
    }
    20 % {
        background - position: center - 1238 px;
        opacity: 0
    }
    21 % {
        background - position: center - 40 px;
        opacity: 0
    }
    25 % , 40 % {
        opacity: 1
    }
    45 % {
        background - position: center - 40 px;
        opacity: 0
    }
    46 % {
        background - position: center - 680 px;
        opacity: 0
    }
    50 % , 65 % {
        opacity: 1
    }
    70 % {
        background - position: center - 680 px;
        opacity: 0
    }
    71 % {
        background - position: center - 1822 px;
        opacity: 0
    }
    75 % , 90 % {
        opacity: 1
    }
    95 % {
        background - position: center - 1822 px;
        opacity: 0
    }
    96 % {
        background - position: center - 1238 px;
        opacity: 0
    }
}@ - webkit - keyframes anywhereBlockPhone {
    0 % , 15 % , 100 % {
        background - position: -275 px center;
        opacity: 1
    }
    20 % {
        background - position: -275 px center;
        opacity: 0
    }
    21 % {
        background - position: -1 px center;
        opacity: 0
    }
    25 % , 40 % {
        opacity: 1
    }
    45 % {
        background - position: -1 px center;
        opacity: 0
    }
    46 % {
        background - position: -93 px center;
        opacity: 0
    }
    50 % , 65 % {
        opacity: 1
    }
    70 % {
        background - position: -93 px center;
        opacity: 0
    }
    71 % {
        background - position: -186 px center;
        opacity: 0
    }
    75 % , 90 % {
        opacity: 1
    }
    95 % {
        background - position: -186 px center;
        opacity: 0
    }
    96 % {
        background - position: -275 px center;
        opacity: 0
    }
}@
keyframes anywhereBlockPhone {
    0 % , 15 % , 100 % {
        background - position: -275 px center;
        opacity: 1
    }
    20 % {
        background - position: -275 px center;
        opacity: 0
    }
    21 % {
        background - position: -1 px center;
        opacity: 0
    }
    25 % , 40 % {
        opacity: 1
    }
    45 % {
        background - position: -1 px center;
        opacity: 0
    }
    46 % {
        background - position: -93 px center;
        opacity: 0
    }
    50 % , 65 % {
        opacity: 1
    }
    70 % {
        background - position: -93 px center;
        opacity: 0
    }
    71 % {
        background - position: -186 px center;
        opacity: 0
    }
    75 % , 90 % {
        opacity: 1
    }
    95 % {
        background - position: -186 px center;
        opacity: 0
    }
    96 % {
        background - position: -275 px center;
        opacity: 0
    }
}@ - webkit - keyframes backupBlockBG {
    to {
        background - position: center 20 %
    }
    from {
        background - position: center 80 %
    }
}@
keyframes backupBlockBG {
    to {
        background - position: center 20 %
    }
    from {
        background - position: center 80 %
    }
}@ - webkit - keyframes backupBlockScene {
    to {
        background - position: center top
    }
    from {
        background - position: center bottom
    }
}@
keyframes backupBlockScene {
    to {
        background - position: center top
    }
    from {
        background - position: center bottom
    }
}.medium - title, .small - title {
    padding: 0 0 20 px;margin: 0;text - align: center;color: #47525d}.large-title{font-size:31px;line-height:1.2;font-weight:100;margin-bottom:20px;color:# 47525 d
}@
media(min - width: 768 px) {.large - title {
        line - height: 1.2;
        margin - bottom: 30 px
    }
}.medium - title {
    line - height: 1.4;
    font - size: 25 px;
    font - weight: 100
}.small - title {
    line - height: 1.4;
    font - size: 25 px;
    font - weight: 100
}.ajax - loading# plan - select - container {
    position: relative
}.ajax - loading# plan - select - container: before {
    content: "";position: absolute;top: -2 px;left: -2 px;right: -2 px;bottom: -2 px;display: block;background: #f6f9fc;opacity: 0.6;z - index: 2
}.upgrade - features {
    background - color: #fff;
    color: #47525d;font-size:14px;text-rendering:optimizeLegibility}.upgrade-features img{max-width:100%}.upgrade-features .wrap--outer{max-width:990px;padding-left:20px;padding-right:20px;margin:0 auto}.upgrade-features .island{padding:23px}.upgrade-features .island--h{padding-left:23px;padding-right:23px}.upgrade-features .island--spacious-v{padding-top:92px;padding-bottom:92px}.upgrade-features .island--v,.upgrade-features .site__content{padding-top:23px;padding-bottom:23px}.upgrade-features h1,.upgrade-features .alpha{margin-top:5.8px;margin-bottom:28.8px;font-size:28px;font-weight:300;line-height:1.571428571;color:# 3 d464d
}@
media(max - width: 550 px) {.upgrade - features h1, .upgrade - features.alpha {
        font - size: 24 px;
        text - align: center
    }
}.upgrade - features h2, .upgrade - features.beta {
    margin - bottom: 11.5 px;
    margin - top: 11.5 px;
    font - size: 22 px;
    font - weight: 400;
    line - height: 1.4
}.upgrade - features h3, .upgrade - features.gamma {
    margin - bottom: 11.5 px;
    font - size: 17 px;
    font - weight: 400;
    line - height: 1.75
}.upgrade - features h4, .upgrade - features.delta {
    font - size: 14 px;
    font - weight: 600;
    line - height: 1.76923;
    color: #7b8994;margin-bottom:0}.upgrade-features .promo{text-align:center}.upgrade-features .subhead,.upgrade-features .meta{color:# 7 b8994
}.upgrade - features.subhead {
    margin: 0 auto;max - width: 700 px
}.upgrade - features.dfb - bar - container {
    text - align: center
}.upgrade - features.dfb - bar - container.dfb - bar {
    display: inline - block;margin: 0 auto
}.upgrade - features strong, .upgrade - features.strong {
    font - weight: 700
}.upgrade - features em, .upgrade - features.em {
    font - style: italic
}.upgrade - features hr {
    border: none;border - top: 1 px solid# d8dce0;margin - bottom: 23 px;margin - top: -2 px
}.upgrade - features ul, .upgrade - features ol {
    padding - left: 1.35e m
}.upgrade - features li > ul, .upgrade - features li > ol {
    margin - bottom: 0
}.upgrade - features dl dt {
    font - weight: 700
}.upgrade - features dl dd {
    padding - left: 16.9 px
}.upgrade - features p, .upgrade - features.o--p, .upgrade - features blockquote, .upgrade - features table, .upgrade - features form, .upgrade - features ul, .upgrade - features ol, .upgrade - features.img, .upgrade - features pre, .upgrade - features.mega, .upgrade - features.ultra {
    display: block;margin - bottom: 23 px
}.upgrade - features.o--p--dm {
    margin - bottom: 46 px
}.upgrade - features.o--p--hm {
    margin - bottom: 11.5 px
}.upgrade - features.o--p--nm {
    margin - bottom: -23 px
}.upgrade - features.o--b {
    display: block
}.upgrade - features.o--bc {
    margin - left: auto;
    margin - right: auto
}.upgrade - features.o--i {
    display: inline - block
}.upgrade - features.o--p--xxl {
    font - size: 19.5 px;
    line - height: 1.142857143
}.upgrade - features.o--p--xl {
    font - size: 16 px;
    line - height: 1.375
}.upgrade - features.o--p--l {
    font - size: 14.9 px;
    line - height: 1.5
}.upgrade - features.o--p--s, .upgrade - features.input.input--small {
    font - size: 11.4 px;
    line - height: 1.393936364
}.upgrade - features.o--p--xs {
    font - size: 11.1 px;
    line - height: 1.142857143
}.upgrade - features.f--l, .upgrade - features.f--r {
    z - index: 1
}.upgrade - features.f--l {
    float: left
}.upgrade - features.f--r {
    float: right
}.upgrade - features.standalone {
    margin - bottom: 0!important
}.upgrade - features.unl, .upgrade - features.plans__checklist {
    list - style: none;
    padding - left: 0
}.upgrade - features.pro - header {
    background - color: #72B6EC;background-image:url("/static/images/payments/upgrade/pro-pattern-vflg9mluR.png");background-size:1373px 726px;background-repeat:no-repeat;background-position:center -100px;color:# fff;
    position: relative
}@
media(-webkit - min - device - pixel - ratio: 1.1), (min - resolution: 192 dpx), (min - resolution: 1.1 dppx) {.upgrade - features.pro - header {
        background - image: url("/static/images/payments/upgrade/pro-pattern@2x-vflEbMd7V.png")
    }
}.upgrade - features.pro - header.subhead {
    max - width: 700 px
}.upgrade - features.pro - header.subhead.wide {
    max - width: 550 px
}.upgrade - features.pro - header.subhead__list {
    margin - top: 0;
    padding: 0;
    display: inline - block;
    width: auto;
    list - style: none
}.upgrade - features.pro - header__headline {
    color: #fff
}.upgrade - features.pro - header.meta, .upgrade - features.pro - header.meta a {
    color: rgba(255, 255, 255, 0.9)
}.upgrade - features.pro - header.meta a {
    text - decoration: underline
}.upgrade - features.pro - header.meta.pro - header__biz - cta {
    display: block;color: #004c8a;text-decoration:none}.upgrade-features .pro-header--bars{background-image:none;background-color:# cce6fa;color: #737373}.upgrade-features .pro-header--bars .pro-header__headline{color:inherit}.upgrade-features .pro-header--bars .meta{color:inherit;margin-top:3px}.upgrade-features .pro-header--bars.island--spacious-v{padding-bottom:23px}.upgrade-features .pro-header--vertical.island--spacious-v{padding-top:68px}.upgrade-features .pro-header--horizontal.island--spacious-v{padding-top:48px}.upgrade-features .pro-header--layered.island--spacious-v{padding-top:53px}.upgrade-features .pro__block+.pro__block{box-shadow:inset 0 1px rgba(123,137,148,0.2);overflow:hidden}.upgrade-features .pro__block+.pro__block.pro__block--anywhere{padding-top:1px;overflow:hidden}.upgrade-features .plans__checklist{margin-top:0}.upgrade-features .plans__checklist>li>*{padding-left:26px}.upgrade-features .plans__checklist h4{background-repeat:no-repeat;background-position:left 3px}.upgrade-features .plans__checklist--basic>li h4{background-image:url("/static/images/payments/upgrade/check-basic-vfln6YH1l.png");background-size:16px auto}@media (-webkit-min-device-pixel-ratio: 1.1), (min-resolution: 192dpx), (min-resolution: 1.1dppx){.upgrade-features .plans__checklist--basic>li h4{background-image:url("/static/images/payments/upgrade/check-basic@2x-vflCuERTz.png")}}.upgrade-features .plans__pro-all--item h4,.upgrade-features .plans__checklist--pro>li h4{background-image:url("/static/images/payments/upgrade/check-pro-vflkRG0cN.png");background-size:16px auto}@media (-webkit-min-device-pixel-ratio: 1.1), (min-resolution: 192dpx), (min-resolution: 1.1dppx){.upgrade-features .plans__pro-all--item h4,.upgrade-features .plans__checklist--pro>li h4{background-image:url("/static/images/payments/upgrade/check-pro@2x-vflDfdDY6.png")}}.upgrade-features .plans__pro-all--item *,.upgrade-features .plans__checklist--pro>li *{padding-left:26px}.upgrade-features .plans--grid{padding-bottom:0}.upgrade-features .plans--grid small{font-size:0.7em}@media (min-width: 551px){.upgrade-features .plans--grid .plans__pro{border-left:1px solid # d8dce0
}
}.upgrade - features.site__footer {
    color: #47525d}.upgrade-features .site__footer nav a{color:# 7 b8994
}.upgrade - features.get - started header {
    font - size: 1.2e m
}.upgrade - features.get - started p {
    margin: 0
}.upgrade - features.get - started.upgrade - button {
    margin - bottom: 20 px
}.upgrade - features.anywhere - block {
    max - height: 493 px;
    position: relative;
    z - index: 0
}@
media(max - width: 750 px) {.upgrade - features.anywhere - block {
        overflow: hidden;margin - right: -20 px
    }
}.upgrade - features.anywhere - block.anywhere - block__stage {
    padding - top: 100 % ;
    background - image: url("/static/images/payments/upgrade/anywhere-sprite-bg-vflzaMLey.png");
    background - size: auto 1972 px;
    background - position: center 0;
    background - repeat: no - repeat; - webkit - animation: anywhereBlockBG 20 s - 0.5 s infinite;
    animation: anywhereBlockBG 20 s - 0.5 s infinite
}@
media(-webkit - min - device - pixel - ratio: 1.1), (min - resolution: 192 dpx), (min - resolution: 1.1 dppx) {.upgrade - features.anywhere - block.anywhere - block__stage {
        background - image: url("/static/images/payments/upgrade/anywhere-sprite-bg@2x-vflvqRaT1.png")
    }
}.upgrade - features.anywhere - block.anywhere - block__props {
    position: absolute;top: 0;bottom: 0;right: -30 % ;left: -30 % ;background - image: url("/static/images/payments/upgrade/anywhere-sprite-scene-vflBm5Yjm.png");background - size: 808 px auto;background - position: center top;background - repeat: no - repeat; - webkit - animation: anywhereBlockProps 20 s infinite;animation: anywhereBlockProps 20 s infinite
}@
media(-webkit - min - device - pixel - ratio: 1.1), (min - resolution: 192 dpx), (min - resolution: 1.1 dppx) {.upgrade - features.anywhere - block.anywhere - block__props {
        background - image: url("/static/images/payments/upgrade/anywhere-sprite-scene@2x-vfls93_gV.png")
    }
}@
media(max - width: 550 px) {.upgrade - features.anywhere - block.anywhere - block__props {
        right: -20 px;left: -20 px
    }
}.upgrade - features.anywhere - block.anywhere - block__phone {
    position: absolute;top: 50 % ;right: 50 % ;margin - right: -52 px;margin - top: -109 px;width: 105 px;height: 218 px;background - image: url("/static/images/payments/upgrade/anywhere-phone-vflbMANTh.png");background - size: 105 px auto;background - position: center;background - repeat: no - repeat
}@
media(-webkit - min - device - pixel - ratio: 1.1), (min - resolution: 192 dpx), (min - resolution: 1.1 dppx) {.upgrade - features.anywhere - block.anywhere - block__phone {
        background - image: url("/static/images/payments/upgrade/anywhere-phone@2x-vflmS3URd.png")
    }
}.upgrade - features.anywhere - block.anywhere - block__content {
    position: absolute;top: 32 px;bottom: 34 px;right: 9 px;left: 11 px;background - image: url("/static/images/payments/upgrade/anywhere-sprite-phone-vflrPjNWt.png");background - size: 364 px auto;background - position: -275 px center;background - repeat: no - repeat; - webkit - animation: anywhereBlockPhone 20 s 2 s infinite;animation: anywhereBlockPhone 20 s 2 s infinite
}@
media(-webkit - min - device - pixel - ratio: 1.1), (min - resolution: 192 dpx), (min - resolution: 1.1 dppx) {.upgrade - features.anywhere - block.anywhere - block__content {
        background - image: url("/static/images/payments/upgrade/anywhere-sprite-phone@2x-vflzRBhNY.png")
    }
}.upgrade - features.backup - block {
    position: relative
}.upgrade - features.backup - block.backup - block__stage {
    padding - top: 100 % ;
    background - image: url("/static/images/payments/upgrade/backup-bg-vflhxNVYW.png");
    background - size: 745 px auto;
    background - position: center 20 % ;
    background - repeat: no - repeat; - webkit - animation - name: backupBlockBG;
    animation - name: backupBlockBG; - webkit - animation - duration: 1.5 s;
    animation - duration: 1.5 s; - webkit - animation - delay: 0 s;
    animation - delay: 0 s; - webkit - animation - timing - function: cubic - bezier(0.77, 0, 0.175 1);
    animation - timing - function: cubic - bezier(0.77, 0, 0.175 1); - webkit - animation - fill - mode: both;
    animation - fill - mode: both; - webkit - animation - play - state: paused;
    animation - play - state: paused
}@
media(-webkit - min - device - pixel - ratio: 1.1), (min - resolution: 192 dpx), (min - resolution: 1.1 dppx) {.upgrade - features.backup - block.backup - block__stage {
        background - image: url("/static/images/payments/upgrade/backup-bg@2x-vflyo8AwN.png")
    }
}@
media(max - width: 750 px) {.upgrade - features.backup - block.backup - block__stage {
        -webkit - animation: none;
        animation: none
    }
}.upgrade - features.backup - block.backup - block__scene {
    position: absolute;top: -5 % ;bottom: -20 % ;left: -15 % ;right: -9 % ;background - image: url("/static/images/payments/upgrade/backup-scene-vflvA2wSt.png");background - size: 586 px auto;background - position: center top;background - repeat: no - repeat; - webkit - animation - name: backupBlockScene;animation - name: backupBlockScene; - webkit - animation - duration: 1.5 s;animation - duration: 1.5 s; - webkit - animation - delay: 0 s;animation - delay: 0 s; - webkit - animation - timing - function: cubic - bezier(0.77, 0, 0.175 1);animation - timing - function: cubic - bezier(0.77, 0, 0.175 1); - webkit - animation - fill - mode: both;animation - fill - mode: both; - webkit - animation - play - state: paused;animation - play - state: paused
}@
media(-webkit - min - device - pixel - ratio: 1.1), (min - resolution: 192 dpx), (min - resolution: 1.1 dppx) {.upgrade - features.backup - block.backup - block__scene {
        background - image: url("/static/images/payments/upgrade/backup-scene@2x-vflOKDFP7.png")
    }
}@
media(max - width: 990 px) {.upgrade - features.backup - block.backup - block__scene {
        -webkit - animation: none;
        animation: none;
        background - image: url("/static/images/payments/upgrade/backup-device-only-vflUj3nkC.png");
        background - size: 347 px auto;
        background - position: center;
        top: 0;
        bottom: 0;
        left: 0;
        right: -20 px
    }
}@
media(max - width: 990 px) and(-webkit - min - device - pixel - ratio: 1.1), (max - width: 990 px) and(min - resolution: 192 dpx), (max - width: 990 px) and(min - resolution: 1.1 dppx) {.upgrade - features.backup - block.backup - block__scene {
        background - image: url("/static/images/payments/upgrade/backup-device-only@2x-vfl8u5UlY.png")
    }
}.upgrade - features.backup - block.js--animation - triggered.backup - block__scene, .upgrade - features.backup - block.js--animation - triggered.backup - block__stage {
    -webkit - animation - play - state: running;
    animation - play - state: running
}.upgrade - features.plans--grid {
    padding - bottom: 0
}.upgrade - features.plans--grid small {
    font - size: 0.7e m
}.upgrade - features.plans--grid.plans__basic {
    padding - right: 20 px
}.upgrade - features.plans--grid.plans__pro {
    padding - left: 20 px;
    padding - right: 20 px
}.upgrade - features.plans--grid.plans__pro - all {
    padding - right: 20 px
}.upgrade - features.faq__header {
    margin: 0 0 50 px 0;font - size: 28 px;text - align: center
}.upgrade - features.faq__item {
    margin - bottom: 25 px
}.upgrade - features.faq__item__question {
    font - size: 18 px
}.upgrade - features.faq__item__answer {
    font - size: 15 px;
    font - weight: 300;
    line - height: 1.5
}.button - exp_subgrowth_pro_upgrade_ctas_below_fold__V2 {
    margin - top: 30 px
}.section - exp_subgrowth_pro_upgrade_ctas_below_fold__V1 {
    border - top: 1 px solid# E5E7EA;
    border - bottom: 1 px solid# E5E7EA;
    padding: 70 px 0
}.biz - upgrade {
    font - size: 13 px;
    line - height: 1.7;
    font - family: OpenSans;
    min - height: 149 px
}.biz - upgrade--banner {
    background - color: #f4faff;
    box - shadow: inset 0 - 1 px rgba(0, 0, 0, 0.1)
}.biz - upgrade--wrap - outer {
    max - width: 990 px;
    margin: 0 auto
}@
media(max - width: 767 px) {.biz - upgrade--wrap - outer {
        padding: 5 px
    }
}.biz - upgrade--text {
    margin - left: 58 px;
    font - size: 16 px
}@
media(max - width: 767 px) {.biz - upgrade--text {
        margin: 0 auto;padding: 5 px
    }
}.biz - upgrade--headline {
    color: #3d464d}.biz-upgrade--subhead{color:# 47525 d;font - family: OpenSans - Light
}.biz - upgrade--button {
    font - size: 13 px;
    margin: 0 auto
}@
media(max - width: 767 px) {.biz - upgrade--button {
        margin: 5 px auto
    }
}.pro - disclaimer {
    display: block;width: 100 % ;box - sizing: border - box;background: #6FB5EE;padding:8px}.pro-disclaimer-title.pro-disclaimer-title{color:# fff;font - weight: normal;text - align: center;font - size: 14 px;letter - spacing: 0;line - height: 24 px
}.pro__block--social {
    height: 170 px;background - color: #fbfbfb;font - size: 17 px;line - height: 1.6
}.pro__block--social.social__block {
    display: -webkit - box;display: -webkit - flex;display: -ms - flexbox;display: flex; - webkit - box - align: center; - webkit - align - items: center; - ms - flex - align: center;align - items: center; - webkit - box - pack: justify; - webkit - justify - content: space - between; - ms - flex - pack: justify;justify - content: space - between;height: 100 % ;max - width: 870 px;margin: 0 auto;background - image: url("/static/images/payments/upgrade/woodgrain-pattern-vflrcqvMg.png");background - size: 100 % 100 % ;background - repeat: no - repeat
}@
media(max - width: 990 px) {.pro__block--social.social__block {
        -webkit - flex - flow: column; - ms - flex - flow: column;
        flex - flow: column; - webkit - box - pack: center; - webkit - justify - content: center; - ms - flex - pack: center;
        justify - content: center;
        text - align: center
    }
}@
media(-webkit - min - device - pixel - ratio: 1.1), (min - resolution: 192 dpx), (min - resolution: 1.1 dppx) {.pro__block--social.social__block {
        background - image: url("/static/images/payments/upgrade/woodgrain-pattern@2x-vflE3YpoR.png")
    }
}.pro__block--social.social__faces {
    max - width: 200 px
}.pro__block--social.social__copy {
    margin: 0
}@
media(max - width: 990 px) {.pro__block--social.social__copy {
        padding: 0 20 px
    }
}.pro__block--charts.feature - list, .pro__block--lists.feature - list {
    list - style - type: none;
    text - align: left;
    padding - left: 24 px
}.pro__block--charts.feature - list__item, .pro__block--lists.feature - list__item {
    position: relative
}.pro__block--charts.feature - list__item: before, .pro__block--lists.feature - list__item: before {
    content: '';display: block;height: 16 px;width: 16 px;position: absolute;top: 5 px;left: -24 px;background - image: url("/static/images/payments/upgrade/blue-checkmark-vflgNtd-7.png");background - size: 16 px auto;background - repeat: no - repeat
}@
media(-webkit - min - device - pixel - ratio: 1.1), (min - resolution: 192 dpx), (min - resolution: 1.1 dppx) {.pro__block--charts.feature - list__item: before, .pro__block--lists.feature - list__item: before {
        background - image: url("/static/images/payments/upgrade/blue-checkmark@2x-vfloJs82r.png")
    }
}.pro__block--charts.feature - list__title, .pro__block--lists.feature - list__title {
    color: #47525d;font-size:14px;font-weight:600;margin-bottom:0}.pro__block--charts .feature-list--basic .feature-list__item:before,.pro__block--lists .feature-list--basic .feature-list__item:before{background-image:url("/static/images/payments/upgrade/grey-checkmark-vflgZ3e0c.png");background-size:16px auto;background-repeat:no-repeat}@media (-webkit-min-device-pixel-ratio: 1.1), (min-resolution: 192dpx), (min-resolution: 1.1dppx){.pro__block--charts .feature-list--basic .feature-list__item:before,.pro__block--lists .feature-list--basic .feature-list__item:before{background-image:url("/static/images/payments/upgrade/grey-checkmark@2x-vfl5_D9Vh.png")}}.pro__block--charts .compare__row,.pro__block--lists .compare__row{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-flow:row wrap;-ms-flex-flow:row wrap;flex-flow:row wrap;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}@media (max-width: 990px){.pro__block--charts .compare__row,.pro__block--lists .compare__row{-webkit-flex-flow:column;-ms-flex-flow:column;flex-flow:column}}.pro__block--charts .compare__col,.pro__block--lists .compare__col{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-flow:row wrap;-ms-flex-flow:row wrap;flex-flow:row wrap;-webkit-box-flex:0;-webkit-flex:0 0 30%;-ms-flex:0 0 30%;flex:0 0 30%;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}.pro__block--charts .compare__content,.pro__block--lists .compare__content{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-flow:column;-ms-flex-flow:column;flex-flow:column;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between}.pro__block--charts .compare__cta,.pro__block--lists .compare__cta{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-flow:column;-ms-flex-flow:column;flex-flow:column;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end;width:100%}.pro__block--charts .compare__cta--tagline,.pro__block--lists .compare__cta--tagline{position:relative}.pro__block--charts .compare__button,.pro__block--lists .compare__button{font-size:16px;line-height:1.4;font-weight:400;border-radius:6px;padding:11px 22px;border:none;min-width:80%;margin:16px 0}.pro__block--charts .compare__button--disabled,.pro__block--lists .compare__button--disabled{color:# 47525 d;background - color: #F0F3F5;border: 1 px solid# d0d4d9
}.pro__block--charts.compare__button - tagline, .pro__block--lists.compare__button - tagline {
    position: absolute;width: 100 % ;text - align: center
}.pro__block--charts.compare__title, .pro__block--lists.compare__title {
    font - size: 16 px;
    line - height: 1.4;
    margin - bottom: 0
}.pro__block--charts.compare__title--med, .pro__block--lists.compare__title--med {
    font - size: 25 px
}.pro__block--charts.compare__title--lite, .pro__block--lists.compare__title--lite {
    font - weight: 100
}.pro__block--charts.compare__subtitle, .pro__block--lists.compare__subtitle {
    font - size: 14 px;
    font - weight: 400;
    line - height: 1.5;
    margin - bottom: 32 px
}.pro__block--charts.compare__subcopy, .pro__block--lists.compare__subcopy {
    font - size: 13 px;
    font - weight: 400;
    line - height: 1.4;
    margin: 0
}.pro__block--charts.compare--mt, .pro__block--lists.compare--mt {
    margin - top: 18 px
}.pro__block--charts {
    padding: 90 px 0 40 px 0
}.pro__block--charts.compare__section - title {
    margin: 0 auto 68 px;padding: 0 0 68 px 0;font - size: 31 px;text - align: center;max - width: 990 px;font - weight: 100
}@
media(max - width: 990 px) {.pro__block--charts.compare__section - title {
        paddding: 0;max - width: 80 %
    }
}.pro__block--charts.compare__col {
    border: 1 px solid# d8dce0;border - radius: 5 px;padding: 25 px 10 px 50 px;position: relative
}@
media(max - width: 990 px) {.pro__block--charts.compare__col {
        margin - bottom: 20 px;
        padding: 25 px 0 50 px
    }
}.pro__block--charts.compare__content {
    text - align: center
}@
media(max - width: 990 px) {.pro__block--charts.compare__content {
        padding: 0 16 px
    }
}.pro__block--charts.compare__banner {
    background - color: #cce6fa;
    font - size: 16 px;
    width: 250 px;
    padding: 15 px 0;
    text - align: center;
    border - radius: 5 px 5 px 0 0;
    position: absolute;
    top: -53 px;
    left: 10 %
}@
media(max - width: 990 px) {.pro__block--charts.compare__banner {
        position: relative;top: -25 px;left: 0;width: 100 % ;border - radius: 4 px 4 px 0 0
    }
}.pro__block--charts.compare__divider {
    margin: 20 px auto;width: 40 % ;border: none;border - top: 1 px solid# d8dce0
}.pro__block--charts.feature - list {
    width: 80 % ;margin: 16 px auto 16 px 20 % ;padding: 0
}.pro__block--charts.feature - list__title {
    font - size: 13 px;
    font - weight: 400
}.pro__block--lists {
    padding - top: 100 px
}.pro__block--lists.compare__col {
    padding: 0 16 px 48 px
}.pro__block--lists.compare__col: not(: last - child) {
    border - right: 1 px solid# d8dce0
}@
media(max - width: 990 px) {.pro__block--lists.compare__col: not(: last - child) {
        border: none
    }
}@
media(max - width: 990 px) {.pro__block--lists.compare__content {
        max - width: 80 %
    }
}@
media(max - width: 990 px) {.pro__block--lists.compare__button {
            width: 100 %
        }
    }.pro__block--lists.feature - list {
        margin - top: 0
    }.upgrade - page.sub - nav.chat - bubble {
        z - index: 2
    }.upgrade - page# outer - frame {
        width: 100 % ;padding - top: 73 px
    }.upgrade - page# page - full - footer {
        max - width: 990 px;
        margin: 0 auto
    }.upgrade - page.plan.schedule -
    switch: last - child {
        border - radius: 0 0 5 px 5 px
    }.upgrade - page.plan {
        overflow: visible
    }.upgrade - page.pro__block--user - profiles.wrap--outer {
        padding - top: 78 px;
        padding - bottom: 95 px
    }.upgrade - page.pro__block--user - profiles.user - profiles - header {
        text - align: center;
        margin - bottom: 75 px
    }.upgrade - page.pro__block--user - profiles.user - profiles - header h2.alpha {
        margin - bottom: 0 px
    }.upgrade - page.pro__block--user - profiles.user - profiles - header h3.gamma {
        color: #96a0b4}.upgrade-page .pro__block--user-profiles .user-profiles-left-wrapper .user-profiles-testimony-3-per-row,.upgrade-page .pro__block--user-profiles .user-profiles-left-wrapper .user-profiles-testimony-2-per-row{display:none}@media (max-width: 750px){.upgrade-page .pro__block--user-profiles .user-profiles-left-wrapper{width:100%}}@media (max-width: 550px){.upgrade-page .pro__block--user-profiles .user-profiles-left-wrapper .user-profiles-testimony-2-per-row{display:block}}@media (max-width: 750px) and (min-width: 551px){.upgrade-page .pro__block--user-profiles .user-profiles-left-wrapper .user-profiles-testimony-3-per-row{display:block}}.upgrade-page .pro__block--user-profiles .user-profiles-left-wrapper .user-profiles-images{padding-left:15px;padding-right:15px;margin-bottom:20px;background-color:# fff
    }.upgrade - page.pro__block--user - profiles.user - profiles - left - wrapper.user - profiles - images img {
        width: 100 % ;height: auto;border - radius: 100 % ;border: 2 px solid transparent
    }.upgrade - page.pro__block--user - profiles.user - profiles - left - wrapper.user - profiles - images.inactive {
        opacity: 0.5; - webkit - transition: opacity 0.2 s ease - in ;transition: opacity 0.2 s ease - in
    }.upgrade - page.pro__block--user - profiles.user - profiles - left - wrapper.user - profiles - images.inactive: hover {
        opacity: 1;cursor: pointer
    }.upgrade - page.pro__block--user - profiles.user - profiles - left - wrapper.user - profiles - images.active {
        color: #007ee5}.upgrade-page .pro__block--user-profiles .user-profiles-left-wrapper .user-profiles-images.active img{border-color:# 007e e5
    }.upgrade - page.pro__block--user - profiles.user - profiles - left - wrapper.user - profiles - images.user - profiles - images - subtitle {
        margin - top: 10 px;
        text - align: center
    }.upgrade - page.pro__block--user - profiles.user - profiles - testimony - content {
        padding - left: 20 px;
        background - color: #fff
    }.upgrade - page.pro__block--user - profiles.user - profiles - testimony - content h3.gamma {
        font - size: 17 px
    }.upgrade - page.pro__block--user - profiles.user - profiles - testimony - content.user - profiles - quote {
        font - style: italic
    }.upgrade - page.pro__block--user - profiles.user - profiles - testimony - content.inactive {
        display: none
    }.upgrade - page.pro__block--user - profiles.user - profiles - testimony - content p {
        font - size: 14 px;
        line - height: 1.8;
        color: #64788c}@media (max-width: 750px){.upgrade-page .pro__block--user-profiles .user-profiles-right-wrapper{display:none}}html{-ms-text-size-adjust:none;-webkit-text-size-adjust:none;text-size-adjust:none}.upgrade-page .pro-header__inner-container{max-width:990px;margin:0 auto;position:relative}.upgrade-page .pro-header__headline+.pro-header__feature{margin-top:50px;margin-bottom:50px}.upgrade-page .pro-header__feature{margin-left:-12px;margin-right:-12px;display:inline-block}.upgrade-page .pro-header__feature--with-frame{padding:25px 13px;margin-left:0;margin-right:0;position:relative;border:1px solid # 737373;
        border - radius: 3 px
    }.upgrade - page.pro - header__feature--with - frame.pro - header__feature - title {
        height: 20 px;margin: 0 auto;position: absolute;top: -10 px;left: 0;right: 0
    }.upgrade - page.pro - header__feature--with - frame.pro - header__feature - title - text {
        padding: 0 10 px;line - height: 20 px;background - color: #cce6fa
    }.upgrade - page.pro - header__feature--with - frame.pro - header__feature - text {
        font - size: 14 px
    }.upgrade - page.pro - header__feature - title {
        font - weight: 600
    }.upgrade - page.pro - header__feature - image, .upgrade - page.pro - header__feature - text {
        display: inline - block;padding: 0 12 px;vertical - align: middle
    }.upgrade - page.pro - header__feature - text {
        margin - bottom: 0;
        text - align: left;
        font - size: 20 px
    }.upgrade - page.pro - header__feature - text - full {
        max - width: 850 px;
        text - align: center
    }.upgrade - page.pro - header__feature + .standalone {
        margin - top: 34 px
    }.upgrade - page.pro - header__bg - boxes {
        padding - left: 20 px;
        max - width: 60 % ;
        position: absolute;
        bottom: 0;
        right: 0;
        white - space: nowrap;
        text - align: center
    }@
media(max - width: 800 px) {.upgrade - page.pro - header__bg - boxes {
        padding - left: 0;
        padding - bottom: 30 px;
        max - width: 100 % ;
        position: relative
    }
}.upgrade - page.pro - header__bg - box {
    display: inline - block;text - align: center;box - sizing: border - box
}.upgrade - page.pro - header__bg - box--small {
    width: 35 % ;padding - right: 40 px
}@
media(max - width: 800 px) {.upgrade - page.pro - header__bg - box--small {
        width: 50 %
    }
}.upgrade - page.pro - header__bg - box--big {
    width: 65 % ;padding - left: 40 px
}@
media(max - width: 800 px) {.upgrade - page.pro - header__bg - box--big {
        width: 50 %
    }
}.upgrade - page.pro - header__bg - box - title {
    padding - top: 6 px;
    font - weight: 600
}.upgrade - page.pro - header__bg - box - title, .upgrade - page.pro - header__bg - box - subtitle {
    font - size: 13 px
}.upgrade - page.subgrowth_pro_upgrade_cta_color--v1.pro - header, .upgrade - page.subgrowth_pro_upgrade_cta_color--v2.pro - header {
    color: #47525d}.upgrade-page.subgrowth_pro_upgrade_cta_color--v1 .pro-header__headline,.upgrade-page.subgrowth_pro_upgrade_cta_color--v2 .pro-header__headline{font-size:39px;font-weight:200;color:# 47525 d
}.upgrade - page.subgrowth_pro_upgrade_cta_color--v1.pro - header.meta, .upgrade - page.subgrowth_pro_upgrade_cta_color--v1.pro - header.meta a, .upgrade - page.subgrowth_pro_upgrade_cta_color--v2.pro - header.meta, .upgrade - page.subgrowth_pro_upgrade_cta_color--v2.pro - header.meta a {
    font - size: 16 px;
    font - weight: 400;
    color: #47525d}.upgrade-page.subgrowth_pro_upgrade_cta_color--v1 .pro-header{background-image:none;background-color:# f6f9fc
}.upgrade - page.subgrowth_pro_upgrade_cta_color--v2.pro - header {
    border - top: 1 px solid rgba(71, 82, 93, 0.2);
    border - bottom: 1 px solid rgba(71, 82, 93, 0.2);
    background - image: url("/static/images/payments/upgrade/pro-pattern-gray-vflZvM2dN.png");
    background - size: 1373 px 726 px;
    background - color: #fff;
    background - repeat: no - repeat;
    background - position: center - 100 px;
    position: relative
}@
media(-webkit - min - device - pixel - ratio: 1.1), (min - resolution: 192 dpx), (min - resolution: 1.1 dppx) {.upgrade - page.subgrowth_pro_upgrade_cta_color--v2.pro - header {
        background - image: url("/static/images/payments/upgrade/pro-pattern-gray@2x-vflIVviDf.png")
    }
}.flex {
    display: -webkit - box;display: -webkit - flex;display: -ms - flexbox;display: flex;margin: 0;padding: 0
}.flex__column {
    display: -webkit - box;display: -webkit - flex;display: -ms - flexbox;display: flex; - webkit - box - flex: 1; - webkit - flex: 1; - ms - flex: 1;flex: 1; - webkit - flex - flow: column nowrap; - ms - flex - flow: column nowrap;flex - flow: column nowrap
}@
media(max - width: 767 px) {.flex__column {
        -webkit - box - flex: 1; - webkit - flex: 1 0 auto; - ms - flex: 1 0 auto;
        flex: 1 0 auto;
        max - width: 100 %
    }
}.flex__row {
    display: -webkit - box;display: -webkit - flex;display: -ms - flexbox;display: flex; - webkit - box - flex: 1; - webkit - flex: 1; - ms - flex: 1;flex: 1; - webkit - flex - flow: row wrap; - ms - flex - flow: row wrap;flex - flow: row wrap; - webkit - box - align: center; - webkit - align - items: center; - ms - flex - align: center;align - items: center
}@
media(max - width: 767 px) {.flex__row {
        -webkit - box - flex: 1; - webkit - flex: 1 0 auto; - ms - flex: 1 0 auto;
        flex: 1 0 auto;
        max - width: 100 %
    }
}.flex__item {
    display: -webkit - box;display: -webkit - flex;display: -ms - flexbox;display: flex; - webkit - box - flex: 1; - webkit - flex: 1; - ms - flex: 1;flex: 1
}@
media(max - width: 767 px) {.flex__item {
            -webkit - box - flex: 1; - webkit - flex: 1 0 auto; - ms - flex: 1 0 auto;
            flex: 1 0 auto
        }
    }.jp - content {
        color: #3d464d;font-family:"Noto Sans CJK JP",'Open Sans', "Helvetica Neue", Helvetica;font-weight:200;line-height:1.6;font-size:16px;max-width:990px;margin:0 auto}.jp-content__use-case{padding:60px}@media (max-width: 767px){.jp-content__use-case{padding:15px}}.jp-content__use-case-name{font-size:18px;padding:20px 0;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}.jp-content__use-case-copy{font-size:30px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}.jp-content__use-case-user-picture{width:160px;height:160px;padding-right:40px;margin:auto;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}.jp-content__use-case-user-profile{padding-bottom:40px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-flow:row wrap;-ms-flex-flow:row wrap;flex-flow:row wrap}.jp-content__use-case-comment{padding:20px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}@media (max-width: 767px){.jp-content__use-case-comment{padding:0}}.jp-content__use-case-list-item-image{height:120px;width:auto;padding-bottom:30px;margin:auto;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-flex:0;-webkit-flex:0 1 auto;-ms-flex:0 1 auto;flex:0 1 auto}.jp-content__use-case-list-item-title{font-size:18px;color:# 007e e5;padding: 30 px 0 0 0;display: -webkit - box;display: -webkit - flex;display: -ms - flexbox;display: flex;margin: auto
    }.jp - content__use -
    case -list - item - comment {
        line - height: 1.8;
        padding: 20 px;
        display: -webkit - box;
        display: -webkit - flex;
        display: -ms - flexbox;
        display: flex
    }@
media(max - width: 767 px) {.jp - content__use -
            case -list - item - comment {
                padding: 5 px
            }
    }.jp - content__use -
    case -list - item {
        margin: 0 15 px;border: 1 px# d8dce0;border - style: solid;border - radius: 10 px;display: -webkit - box;display: -webkit - flex;display: -ms - flexbox;display: flex; - webkit - flex - flow: column nowrap; - ms - flex - flow: column nowrap;flex - flow: column nowrap; - webkit - box - flex: 1; - webkit - flex: 1; - ms - flex: 1;flex: 1
    }@
media(max - width: 990 px) {.jp - content__use -
        case -list - item {
            margin: 0 5 px
        }
}@
media(max - width: 767 px) {.jp - content__use -
            case -list - item {
                -webkit - box - flex: 0; - webkit - flex: 0 1 auto; - ms - flex: 0 1 auto;
                flex: 0 1 auto
            }
    }.jp - content__use -
    case -all - list - items {
        padding: 0 0 60 px 0; - webkit - box - pack: center; - webkit - justify - content: center; - ms - flex - pack: center;justify - content: center;display: -webkit - box;display: -webkit - flex;display: -ms - flexbox;display: flex; - webkit - flex - flow: row wrap; - ms - flex - flow: row wrap;flex - flow: row wrap; - webkit - align - content: center; - ms - flex - line - pack: center;align - content: center
    }@
media(max - width: 767 px) {.jp - content__use -
        case -all - list - items {
            margin: 0 5 px
        }
}.upgrade - page.pro - header--space - colors {
    padding: 80 px 0 20 px;color: #47525d;background-image:none;background-color:# f6f9fc
}.upgrade - page.pro - header--space - colors.meta {
    color: #3d464d}.upgrade-page .pro-header--space-colors a.button-primary{border-radius:6px;border:none;padding:8px 50px;margin-bottom:12px;font-size:16px}.upgrade-page .pro-header--space-colors .upgrade-plan-info{max-width:822px}@media (max-width: 767px){.upgrade-page .pro-header--space-colors .upgrade-plan-info{max-width:310px}}.upgrade-page .pro-header--space-colors .pro-header__headline{color:# 3 d464d;line - height: 1.3;font - weight: 100
}.upgrade - page.pro - header--space - colors.pro - header__feature {
    display: -webkit - box;display: -webkit - flex;display: -ms - flexbox;display: flex; - webkit - box - pack: center; - webkit - justify - content: center; - ms - flex - pack: center;justify - content: center; - webkit - box - align: center; - webkit - align - items: center; - ms - flex - align: center;align - items: center;margin: 50 px 0
}.upgrade - page.pro - header--space - colors.pro - header__feature - image {
    width: 134 px
}.upgrade - page.pro - header--space - colors.pro - header__feature - text {
    font - size: 14 px;
    font - weight: 400
}.pro__block--testimonial {
    background - color: #fbfbfb;
    padding: 60 px 0
}.pro__block--testimonial.testimonial__name {
    font - size: 14 px;
    margin: 10 px 0 50 px
}.pro__block--testimonial.testimonial__content - header {
    font - size: 20 px
}.pro__block--testimonial.testimonial__content {
    margin - bottom: 0;
    padding - bottom: 50 px
}.pro__block--testimonial.testimonial__features {
    display: -webkit - box;display: -webkit - flex;display: -ms - flexbox;display: flex; - webkit - flex - flow: row wrap; - ms - flex - flow: row wrap;flex - flow: row wrap; - webkit - box - pack: justify; - webkit - justify - content: space - between; - ms - flex - pack: justify;justify - content: space - between;padding: 50 px 0 0;border - top: 1 px solid# d0d4d9
}@
media(max - width: 767 px) {.pro__block--testimonial.testimonial__features {
        padding: 50 px 20 px 0
    }
}.pro__block--testimonial.testimonial__feature - block {
    max - width: 395 px
}@
media(max - width: 767 px) {.pro__block--testimonial.testimonial__feature - block {
            width: 100 %
        }
    }.faq--en.faq__header {
        font - weight: 100
    }.faq--en.accordion - list__item {
        border: 1 px solid# e8e8e8;background - color: #fff;cursor: pointer
    }.faq--en.accordion - list__heading {
        font - size: 16 px;
        color: #47525d}.faq--en .accordion-list__content{font-size:14px;color:# 47525 d
    }.upgrade - page.upgrade - page--de - secure.pro - header--bars {
        color: #47525d}.upgrade-page.upgrade-page--de-secure .pro-header--bars .pro-header__feature{font-size:17px;max-width:80%}.upgrade-page.upgrade-page--de-secure .upgrade-plan-info--layered{max-width:810px}.upgrade-page.upgrade-page--de-secure .upgrade-plan-info--layered .upgrade-space-bar{height:45px}.upgrade-page.upgrade-page--de-secure .button-primary{border:none;font-size:14px;border-radius:6px;padding:10px 16px}.upgrade-page.upgrade-page--de-secure .meta{max-width:330px;margin:auto}.upgrade-page .pro-header--refresh{padding:80px 0 20px;color:# 47525 d;background - image: none;background - color: #f6f9fc
    }.upgrade - page.pro - header--refresh.meta {
        color: #47525d}.upgrade-page .pro-header--refresh a.button-primary{border-radius:6px;border:none;padding:8px 50px;margin-bottom:12px;font-size:16px}.upgrade-page .pro-header--refresh .upgrade__hero{position:relative;text-align:left;padding-bottom:60px}@media (max-width: 990px){.upgrade-page .pro-header--refresh .upgrade__hero{text-align:center}}.upgrade-page .pro-header--refresh .upgrade__header{font-weight:100;font-size:31px;text-align:left}.upgrade-page .pro-header--refresh .upgrade__features-list{font-size:20px;font-weight:100;line-height:1.8;text-align:left}.upgrade-page .pro-header--refresh .upgrade__features{display:inline-block;width:55%}@media (max-width: 990px){.upgrade-page .pro-header--refresh .upgrade__features{width:80%}}.upgrade-page .pro-header--refresh .upgrade__features .accordion-list__item{text-align:left;padding:5px;width:75%;background:transparent}@media (max-width: 990px){.upgrade-page .pro-header--refresh .upgrade__features .accordion-list__item{width:100%}}.upgrade-page .pro-header--refresh .upgrade__features .accordion-list__item+.accordion-list__item{margin-top:5px}.upgrade-page .pro-header--refresh .upgrade__features .accordion-list__heading{font-size:20px;color:# 47525 d;font - weight: 100
    }.upgrade - page.pro - header--refresh.upgrade__features.accordion - list__content {
        font - size: 14 px;
        color: #47525d;text-align:left}.upgrade-page .pro-header--refresh .upgrade__hero-image{display:inline-block;position:absolute;right:0;top:20px}.upgrade-page .pro-header--refresh .upgrade__hero-image--content{top:100px}@media (max-width: 990px){.upgrade-page .pro-header--refresh .upgrade__hero-image{position:static}}
