
@font-face {
    font-family: 'dax';
    src: url('dax-regular-webfont.eot');
    src: url('dax-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('dax-regular-webfont.woff') format('woff'),
    url('dax-regular-webfont.ttf') format('truetype'),
    url('dax-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu {
  box-sizing: border-box;
  font-family: "dax", "DaxRegular", "Open Sans", "lucida grande", "Segoe UI";
  font-weight: 500;
}
a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}
h1 {
  font-family: "dax", "DaxRegular", "Open Sans", "lucida grande", "Segoe UI";
  font-weight: 400;
  font-size: 5em;
  text-align: center;
}
.outer-menu {
  position: fixed;
  top: 2em;
  right: 0.5em;
  z-index: 1000;
}
.outer-menu .checkbox-toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 60px;
  height: 60px;
  opacity: 0;
}
.outer-menu .checkbox-toggle:checked + .hamburger > div {
  transform: rotate(135deg);
}
.outer-menu .checkbox-toggle:checked + .hamburger > div:before,
.outer-menu .checkbox-toggle:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}
.outer-menu .checkbox-toggle:checked + .hamburger > div:after {
  opacity: 0;
}
.outer-menu .checkbox-toggle:checked ~ .menu {
  pointer-events: auto;
  visibility: visible;
}
.outer-menu .checkbox-toggle:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: .75s;
}
.outer-menu .checkbox-toggle:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}
.outer-menu .checkbox-toggle:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}
.outer-menu .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: .5em 1em;
  background: #6b95be;
  border-radius: 0 0.12em 0.12em 0;
  cursor: pointer;
  transition: box-shadow 0.4s ease;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fbfbfb;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu .hamburger > div:before,
.outer-menu .hamburger > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  right: 0;
  width: 100%;
  height: 2px;
  background: inherit;
  transition: all 0.4s ease;
}
.outer-menu .hamburger > div:after {
  top: 10px;
}
.outer-menu .menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  visibility: hidden;
  overflow: hidden;
  backface-visibility: hidden;
  outline: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu .menu > div {
  width: 200vw;
  height: 200vw;
  color: #d8e0ed;
  background: #00578e;
  border-radius: 50%;
  transition: all 0.4s ease;
  flex: none;
  transform: scale(0);
  backface-visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu .menu > div > div {
  text-align: center;
  opacity: 0;
  transition: opacity 0.4s ease;
  overflow-y: auto;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu .menu > div > div > ul {
  list-style: none;
  padding: 5em 1em;
  margin: 0;
  display: block;
  height: 100%;
  max-width: 95%;
}
@media (min-width: 1200px) {
	.outer-menu .menu > div > div > ul {
		width: 600px;
		min-height: 600px;
	}
}
.outer-menu .menu > div > div > ul > li {
  padding: 0;
  margin: 1em;
  font-size: 24px;
  display: block;
}
.outer-menu .menu > div > div > ul > li > a {
  position: relative;
  display: inline;
  cursor: pointer;
  transition: color 0.4s ease;
}
.outer-menu .menu > div > div > ul > li > a:hover {
  color: #d8e0ed;
}
.outer-menu .menu > div > div > ul > li > a:hover:after {
  width: 100%;
}
.outer-menu .menu > div > div > ul > li > a:after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: -0.15em;
  right: 0;
  width: 0;
  height: 2px;
  background: #d8e0ed;
  transition: width 0.4s ease;
}
.menu-title {
  font-family: "dax", "DaxRegular", "Open Sans", "lucida grande", "Segoe UI";
  position: fixed;
  right: 1.5em;
  top: 0.25em;
  z-index: 1000;
  color: #00578e;
}
.outer-menu:hover .hamburger {
    background: #00578e;
}
.menu .login {
    position: relative;
	top: 5em;
}
.menu .button-tertiary {
    background: #00578e;
    color: #d8e0ed;
    border: 1px solid;
    margin: 15px;
    font-size: 23px;
    font-family: "dax", "DaxRegular", "Open Sans", "lucida grande", "Segoe UI" !important;
}
.menu .button-tertiary:hover {
	background: #d8e0ed;
	color: #58595b;
}